# for home intent [core]
requests==2.28.1
paho-mqtt==1.6.1
pydantic==1.9.1
PyYAML==6.0
humanize==4.2.3 ## needed for the timer

# for the ui
uvicorn[standard]==0.17.6
fastapi==0.78.0
aiofiles==0.8.0
python-multipart==0.0.5
ruamel-yaml==0.17.21
httpx==0.23.0
