# for home intent [core]
requests==2.26.0
paho-mqtt==1.5.1
pydantic==1.8.2
PyYAML==5.4.1
humanize==3.12.0 ## needed for the timer

# for the ui
uvicorn[standard]==0.15.0
fastapi==0.70.0
aiofiles==0.7.0
python-multipart==0.0.5
ruamel-yaml==0.17.16
httpx==0.20.0