# for home intent [core]
requests==2.27.1
paho-mqtt==1.6.1
pydantic==1.9.0
PyYAML==6.0
humanize==4.1.0 ## needed for the timer

# for the ui
uvicorn[standard]==0.17.6
fastapi==0.77.1
aiofiles==0.8.0
python-multipart==0.0.5
ruamel-yaml==0.17.21
httpx==0.22.0
