site_name: Home Intent
site_description: A Voice Assistant for Your Home
site_url: https://homeintent.io
repo_url: https://github.com/JarvyJ/HomeIntent
edit_uri: ""
copyright: '<a href="/reference/how-well-does-it-work/">So, how well does it work?</a>'
theme:
  name: material
  custom_dir: overrides/

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  icon:
    repo: fontawesome/brands/github

  logo: img/home-intent-white.svg
  favicon: favicon.ico
  font: false

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list

plugins:
  - search
  - awesome-pages

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/JarvyJ/HomeIntent

    - icon: fontawesome/solid/rss
      link: https://github.com/JarvyJ/HomeIntent/releases.atom
